---
import Button from "../../components/Home/Contact/Button.astro";
import Input from "../../components/Home/Contact/Input.astro";
import TextArea from "../../components/Home/Contact/TextArea.astro";
import NameSection from "../../components/UI/NameSection.astro";
import TitleSection from "../../components/UI/TitleSection.astro";
---

<section class="p-5 pt-15 flex flex-col items-center overflow-clip max-w-405 2xl:mx-auto" id="contacto">
  <NameSection name="Contacto" />
  <TitleSection title="Comencemos un nuevo camino juntos" />

  <form action="#" method="get" class="w-full grid pt-7.5 gap-5 md:grid-cols-2 lg:max-w-5xl">
    <div class="flex flex-col gap-5 reveal-fade-right">
      <Input
        identifier="name"
        label="Nombres y apellidos"
        type="text"
        placeholder="Guillermo mendoza"
      />
      <Input
        identifier="email"
        label="Correo electrónico"
        type="email"
        placeholder="guillermo@gmail.com"
      />
      <Input
        identifier="phone"
        label="Teléfono"
        type="tel"
        placeholder="+51999888777"
      />
    </div>

    <div class="flex flex-col gap-5 reveal-fade-left">
      <TextArea
        identifier="message"
        label="Mensaje"
        placeholder="Deseo obtener mayor información sobre la plataforma codium y agendar una cita para una demostración."
      />
    </div>
    
    <div class="md:col-span-full">
      <Button type="submit" text="Solicitar" />
    </div>
  </form>
</section>
