---
import NameSection from "../../components/UI/NameSection.astro";
import TitleSection from "../../components/UI/TitleSection.astro";
import CardSecond from "../../components/Home/Prices/CardSecond.astro";
import CardMain from "../../components/Home/Prices/CardMain.astro";
import ListCheck from "../../components/Home/Prices/ListCheck.astro";
---

<section class="mx-5 mt-15 flex flex-col items-center" id="planes">
  <NameSection name="Planes" />
  <TitleSection title="Planes de precios simples" />

  <div class="w-full grid mt-7.5 gap-5">
    <CardSecond title="Plan Básico" price="75">
      <ListCheck text="Estudiantes ilimitados"/>
      <ListCheck text="Docentes ilimitados"/>
      <ListCheck text="Personal ilimitados"/>
      <ListCheck text="Roles de personal ilimitados"/>
      <ListCheck text="Cursos ilimitados"/>
      <ListCheck text="Generación de certificados"/>
    </CardSecond>

    <CardMain title="Plan Premium" price="100">
      <ListCheck text="Estudiantes ilimitados"/>
      <ListCheck text="Docentes ilimitados"/>
      <ListCheck text="Personal ilimitados"/>
      <ListCheck text="Roles de personal ilimitados"/>
      <ListCheck text="Cursos ilimitados"/>
      <ListCheck text="Generación de certificados"/>
      <ListCheck text="Almacenamiento incluido"/>
    </CardMain>
  </div>
</section>
