---
import LinkButtonMain from "./LinkButtonMain.astro";

const { title, price, reveal } = Astro.props;

let left = reveal == "left" ? true : false;
let right = reveal == "right" ? true : false;
let up = reveal == "up" ? true : false;
let down = reveal == "down" ? true : false;

up = (!left && !right && !down) ?? true;
---

<div
  class:list={[
    "w-full h-max p-10 space-y-5 bg-orange-500 border-1 border-gray-950/25 rounded-xl reveal-fade-up hover:scale-102 transition-all duration-500 max-w-lg lg:space-y-7.5",
    { ["reveal-fade-left"]: left == true },
    { ["reveal-fade-right"]: right == true },
    { ["reveal-fade-up"]: up == true },
    { ["reveal-fade-down"]: down == true },
  ]}
>
  <h5 class="text-lg font-medium text-white">{title}</h5>
  <hr class="border-white" />
  <p class="text-white">Desde</p>
  <p class="font-medium text-3xl text-white">
    S/. {price}<span class="text-base text-gray-300">/mes</span>
  </p>
  <LinkButtonMain direction="#contacto" text="Solicitar" />
  <hr class="border-white" />
  <ul class="space-y-2 text-white">
    <slot />
  </ul>
</div>
