---
import LinkButtonSecond from "./LinkButtonSecond.astro";

const { title, price } = Astro.props;
---

<div
  class="w-full p-10 space-y-5 bg-gray-950/3 border-1 border-gray-950/25 rounded-xl reveal-fade-up hover:scale-102 transition-all duration-500"
>
  <h5 class="text-lg font-medium">{title}</h5>
  <hr class="border-gray-950/25" />
  <p>Desde</p>
  <p class="font-medium text-3xl">
    S/. {price}<span class="text-base text-gray-300">/mes</span>
  </p>
  <LinkButtonSecond direction="#contacto" text="Solicitar" />
  <hr class="border-gray-950/25" />
  <ul class="space-y-2">
    <slot />
  </ul>
</div>
