---
const { text } = Astro.props;
---

<div
  class="p-7.5 text-center bg-gray-950/3 border-1 border-gray-950/25 rounded-xl reveal-fade-up hover:bg-white hover:border-transparent hover:scale-102 hover:shadow-2xl transition-all duration-500"
>
  <p>
    {text}
  </p>
</div>
