---
import inicioPersonal from "../../../assets/inicio_personal.webp";
---
<div
  class="mx-2.5 pt-5 px-5 rounded-x-2xl rounded-t-2xl bg-orange-500 reveal-fade-up"
>
  <img src={inicioPersonal.src} alt="Vista de inicio de personal" class="rounded-xl" />
</div>
