---
const { enlace, text } = Astro.props;
---

<a href={enlace} class="font-regular text-gray-950 space-x-2.5 flex items-center hover:text-orange-500 transition-colors duration-500 2xl:text-2xl 2xl:space-x-5">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-arrow-right"
    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
  >
  <p>{text}</p>
</a>
