---
const { type, text } = Astro.props;
---

<button
  type={type}
  class="block w-full font-regular text-center text-white bg-orange-500 rounded-xl px-5 py-4 reveal-fade-up cursor-pointer hover:scale-102 hover:bg-orange-600 transition-all duration-500 2xl:text-2xl 2xl:py-5 2xl:px-10"
>
  {text}
</button>
