---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
import Inicio from "../components/Inicio.astro";
import Caracteristicas from "../components/Caracteristicas.astro";
import Soluciones from "../components/Soluciones.astro";
import Beneficios from "../components/Beneficios.astro";
import Planes from "../components/Planes.astro";
import Contacto from "../components/Contacto.astro";
import Cierre from "../components/Cierre.astro";
---

<Layout>
	<Menu />
	<main class="w-full h-full">
		<Inicio />
		<Caracteristicas />
		<Soluciones />
		<Beneficios />
		<Planes	/>
		<Contacto />
		<Cierre />
	</main>
</Layout>
