---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/UI/Header/HeaderMain.astro";
import Main from "../sections/Home/Main.astro";
import Features from "../sections/Home/Features.astro";
import Solutions from "../sections/Home/Solutions.astro";
import Benefits from "../sections/Home/Benefits.astro";
import Prices from "../sections/Home/Prices.astro";
import Contact from "../sections/Home/Contact.astro";
import Footer from "../components/UI/Footer/FooterMain.astro";
import ScrollUp from "../components/UI/ScrollUp.astro";
---

<Layout>
  <Header />
  <main class="w-screen h-full">
    <Main />
    <Features />
    <Solutions />
    <Benefits />
    <Prices />
    <Contact />
  </main>
  <Footer />
  <ScrollUp />
</Layout>
