---
const { firstText, secondText } = Astro.props;
---

<h1 class="text-5xl/15 font-semibold text-gray-950 text-center text-balance lg:text-6xl xl:text-7xl 2xl:text-8xl">
  {firstText}
  <span class="text-zinc-400">{secondText}</span>
</h1>
