---
import NameSection from "./NameSection.astro";
import TitleSection from "./TitleSection.astro";
---

<section class="mx-5 mt-15 flex flex-col items-center" id="planes">
  <NameSection name="Planes" />

  <TitleSection title="Planes de precios simples" />

  <section class="w-full mt-7.5 p-5 bg-gray-950/3 border-1 border-gray-950/25 rounded-xl reveal-fade-up">

  </section>
</section>