---
import inicioPersonal from "../assets/inicio_personal.webp";
import NameSection from "./NameSection.astro";
import TitleSection from "./TitleSection.astro";
---

<section class="relative mx-5 mt-15 flex flex-col items-center" id="soluciones">
  <NameSection name="Soluciones" />

  <TitleSection title="Distintos formas de usar una misma plataforma" />

  <div class="w-full mt-7.5 grid gap-5 border-x-1 border-gray-950/25">
    <div class="relative space-y-4 p-10 border-t-1 border-gray-950/25 reveal-fade-up">
      <div
        class="w-5 h-5 bg-white border-1 border-gray-950/25 rounded-full absolute -top-2.5 -left-2.5"
      >
      </div>
      <div
        class="w-5 h-5 bg-white border-1 border-gray-950/25 rounded-full absolute -top-2.5 -right-2.5"
      >
      </div>

      <div class="w-10 text-teal-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-university"
          ><circle cx="12" cy="10" r="1"></circle><path
            d="M22 20V8h-4l-6-4-6 4H2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2"
          ></path><path d="M6 17v.01"></path><path d="M6 13v.01"></path><path
            d="M18 17v.01"></path><path d="M18 13v.01"></path><path
            d="M14 22v-5a2 2 0 0 0-2-2a2 2 0 0 0-2 2v5"></path></svg
        >
      </div>

      <p class="text-xl font-semibold">Centros de formación</p>
      <p>
        Centros de educación y academias que buscan digitalizar su enseñanza y
        expandir su alcance.
      </p>
    </div>

    <div class="relative space-y-4 p-10 border-t-1 border-gray-950/25 reveal-fade-up">
      <div
        class="w-5 h-5 bg-white border-1 border-gray-950/25 rounded-full absolute -top-2.5 -left-2.5"
      >
      </div>
      <div
        class="w-5 h-5 bg-white border-1 border-gray-950/25 rounded-full absolute -top-2.5 -right-2.5"
      >
      </div>

      <div class="w-10 text-teal-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-building-2"
          ><path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z"></path><path
            d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2"></path><path
            d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2"></path><path
            d="M10 6h4"></path><path d="M10 10h4"></path><path d="M10 14h4"
          ></path><path d="M10 18h4"></path></svg
        >
      </div>

      <p class="text-xl font-semibold">Capacitación Empresarial</p>
      <p>
        Formación interna con certificaciones digitales y seguimiento de
        desempeño.
      </p>
    </div>

    <div class="relative space-y-4 p-10 border-t-1 border-gray-950/25 reveal-fade-up">
      <div
        class="w-5 h-5 bg-white border-1 border-gray-950/25 rounded-full absolute -top-2.5 -left-2.5"
      >
      </div>
      <div
        class="w-5 h-5 bg-white border-1 border-gray-950/25 rounded-full absolute -top-2.5 -right-2.5"
      >
      </div>

      <div class="w-10 text-teal-600">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-house"
          ><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path><path
            d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
          ></path></svg
        >
      </div>

      <p class="text-xl font-semibold">Cursos independientes</p>
      <p>
        Profesionales que desean ofrecer sus propios cursos en línea con
        facilidad de administración.
      </p>
    </div>

    <div class="mx-2.5 pt-5 px-5 rounded-x-2xl rounded-t-2xl bg-orange-500 reveal-fade-up">
        <img src={inicioPersonal.src} alt="Vista de inicio de personal" />
    </div>
  </div>

  <div class="absolute top-0 left-0 size-full bg-linear-to-b from-white/0 from-85% to-white"></div>
</section>
