---
import Imagotipo from "../Imagotipo.astro";
import ButtonAction from "./ButtonAction.astro";
import Link from "./Link.astro";
import LinkButton from "./LinkButton.astro";
---

<header class="w-full bg-white sticky top-0 z-10 transition-all duration-500 2xl:text-xl" id="header">
  <div class="p-7.5 flex items-center justify-between xl:px-10 2xl:px-18.75">
    <div class="flex">
      <a href="#home">
        <Imagotipo />
      </a>
    </div>
    <div class="flex xl:hidden">
      <ButtonAction buttonId="button-menu-open">
        <svg
          class="size-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </ButtonAction>
    </div>

    <nav class="max-xl:hidden">
      <ul class="flex gap-10 2xl:gap-12.5">
        <li><Link direction="#caracteristicas" text="Características" /></li>
        <li><Link direction="#soluciones" text="Soluciones" /></li>
        <li><Link direction="#beneficios" text="Beneficios" /></li>
        <li><Link direction="#planes" text="Planes" /></li>
        <li><Link direction="#contacto" text="Contacto" /></li>
      </ul>
    </nav>

    <ul class="max-xl:hidden flex gap-10 2xl:gap-12.5">
      <li><Link direction="#contacto" text="Solicitar demo" /></li>
      <li><LinkButton /></li>
    </ul>
  </div>

  <div
    class="absolute top-0 -left-full transition-position transition-discrete duration-1000 ease-in-out z-20 w-full h-screen overflow-y-auto bg-white p-7.5 md:w-md md:shadow-2xl xl:hidden"
    role="dialog"
    aria-modal="true"
    id="menu"
  >
    <div class="flex items-center justify-between">
      <a href="#inicio">
        <Imagotipo />
      </a>
      <ButtonAction buttonId="button-menu-close">
        <svg
          class="size-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"></path>
        </svg>
      </ButtonAction>
    </div>
    <div class="mt-10">
      <nav class="py-6">
        <ul class="space-y-3">
          <li><Link direction="#caracteristicas" text="Características" /></li>
          <li><Link direction="#soluciones" text="Soluciones" /></li>
          <li><Link direction="#beneficios" text="Beneficios" /></li>
          <li><Link direction="#planes" text="Planes" /></li>
          <li><Link direction="#contacto" text="Contacto" /></li>
        </ul>
      </nav>
      <ul class="py-6 border-t border-gray-200 space-y-5">
        <li><Link direction="#contacto" text="Solicitar demo" /></li>
        <li><LinkButton /></li>
      </ul>
    </div>
  </div>
</header>

<script>
  const buttonMenuOpen = document.getElementById("button-menu-open");
  const buttonMenuClose = document.getElementById("button-menu-close");
  const menu = document.getElementById("menu");
  const header = document.getElementById("header");

  if (buttonMenuOpen && menu) {
    buttonMenuOpen.addEventListener("click", () => {
      menu.classList.toggle("left-0");
    });
  }

  if (buttonMenuClose && menu) {
    buttonMenuClose.addEventListener("click", () => {
      menu.classList.toggle("left-0");
    });
  }

  window.addEventListener("scroll", function () {
    if (menu && menu.classList.contains("left-0") && window.scrollY > 0) {
      menu.classList.toggle("left-0");
    }
  });

  window.addEventListener("scroll", function () {
    if (window.scrollY > 0 && header  && !header.classList.contains("shadow-2xl")) {
      header.classList.add("shadow-2xl");
    }

    if (window.scrollY == 0 && header) {
      header.classList.remove("shadow-2xl");
    }
  });
</script>
