---
const { name } = Astro.props;
---

<h2
  class="py-2.5 px-10 text-gray-950 rounded-full border-1 border-gray-950 shadow-2xl w-max reveal-fade-up hover:scale-105 hover:bg-gray-50 transition-transform duration-500 2xl:text-xl 2xl:py-5 2xl:px-10"
>
  {name}
</h2>
