<a href="#home" class="w-12 fixed bottom-5 right-5 z-5 p-2.5 bg-teal-600 text-white rounded-lg shadow-2xl cursor-pointer hover:scale-105 hover:bg-teal-700 transition-all duration-500 2xl:w-15">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="100%"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-arrow-up"
    ><path d="M18 15l-6-6-6 6"></path></svg
  >
</a>